$delay:1s;

.skills.active{
    opacity: 1;
    .container{
        .card:nth-child(1){
            animation: show 1s $delay+1.5s forwards; 

        }
        .card:nth-child(2){
            animation: show 1s $delay+1s forwards; 
            
        }
        .card:nth-child(3){
            animation: show 1s $delay+.5s forwards; 
            
        }
        .card:nth-child(4){
            animation: show 1s $delay+.5s forwards; 
            
        }
        .card:nth-child(5){
            animation: show 1s $delay+1s forwards; 
            
        }
        .card:nth-child(6){
            animation: show 1s $delay+1.5s forwards; 
            
        }
        .card:nth-child(7){
            animation: show 1s $delay+1s forwards; 
            
        }
        .card:nth-child(8){
            animation: show 1s $delay+.5s forwards; 
            
        }
        .card:nth-child(9){
            animation: show 1s $delay forwards; 

        }
        .card:nth-child(10){
            animation: show 1s $delay forwards; 
            
        }
        .card:nth-child(11){
            animation: show 1s $delay+.5s forwards; 

        }
        .card:nth-child(12){
            animation: show 1s $delay+1s forwards; 
            
        }
        .card:nth-child(13){
            animation: show 1s $delay forwards; 

        }
        .card:nth-child(14){
            animation: zoom-out 1s forwards; 
            transition: 1s;

            
        }
        .card:nth-child(15){
            animation: show 1s $delay forwards; 

        }
        .card:nth-child(16){
            animation: show 1s $delay+1s forwards; 

        }
        .card:nth-child(17){
            animation: show 1s $delay+.5s forwards; 
            
        }
        .card:nth-child(18){
            animation: show 1s $delay+.5s forwards; 
            
        }
    }
}


@keyframes zoom-out {
    from{
        transform: scale(8);
        opacity: 0;

    }
    to{
        transform: scale(1);
        transform: translate(0,-30px);
        opacity: 1;

    }
}
@keyframes show {
    from{
       opacity: 0;
    }
    to{
       opacity: 1;
    }
}