$hexSize:100;
.skills{
    width:100vw;
    height:100%;
    position: absolute;
    display: flex;
    justify-content: center;
    // backdrop-filter: blur(15px);
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    transition: 1s;
    outline: 1px solid red;

    .container{
        width: $hexSize * 7px;
        padding-top: 5%;

        .card:nth-child(3){
            margin-right: $hexSize+px;
        }
        .card:nth-child(n+7){
            transform: translate($hexSize*.5px,-15px);
        }
        .card:nth-child(n+13){
            transform: translate(0,-30px);
        }
        
        .card:nth-child(13){
            margin-left: $hexSize*2px;
        }
        
        .card:nth-child(n+14){
            transform: translate(0,-30px);
        }
        .card:nth-child(16){
            margin-left: $hexSize*2px;
        }
        .card:nth-child(n+16){
            transform: translate($hexSize* -1.5px,-45px);
        }
        
        .card{
            transition: 1s;
            display: inline-block;
            width: $hexSize+px;
            height: $hexSize+px;
            position: relative;
            opacity: 0;
            .icon{
                position: absolute;
                transform: translate(-50%,-50%);
                top: 50%;
                left: 50%;
                svg{
                    width: $hexSize*.5px;
                    height: $hexSize*.5px;
                    fill: rgb(41, 120, 169,.7);
                    transition: .5s;
                }
            }
            svg{
                width: $hexSize+px;
                height: $hexSize+px;
                g{
                    .line{
                        fill: rgb(41, 120, 169,.3);
                        stroke: rgb(41, 120, 169,.7);
                        stroke-width: 5;
                        transition: .5s;
                        stroke-dasharray: 560;
                        stroke-dashoffset: 0; 
                    }
                    .progress{
                        position: absolute;
                        fill: transparent;
                        stroke-width: 6;
                        stroke-linejoin: round;
                        stroke-dasharray: 560;
                        stroke-dashoffset: 560; 
                        transition: .5s;
                    }
                }
            }
        }
    }
}


$skillList:('css','html','javascript','jquery','sass','react',
'nodejs','mysql','restapi','mongodb','php','laravel',
'photoshop','git','vscode','cplusplus','java');

$skills:(
    css:(
        progress:85,fill:rgb(38,77,228)),
    html:(
        progress:85,fill:rgb(172,58,29)),
    javascript:(
        progress:80,fill:rgb(240, 237, 51)),
    jquery:(
        progress:60,fill:rgb(0, 70, 136)),
    sass:(
        progress:85,fill:rgb(230, 25, 230)),
    react:(
        progress:65,fill:rgb(41, 159, 228)),
    nodejs:(
        progress:45,fill:rgb(3, 95, 11)),
    mysql:(
        progress:85,fill:rgb(66,117,156)),
    restapi:(
        progress:45,fill:rgb(1,175,223)),
    mongodb:(
        progress:35,fill:rgb(4, 104, 4)),
    php:(
        progress:70,fill:rgb(115,119,173)),
    laravel:(
        progress:40,fill:rgb(245, 30, 30)),
    photoshop:(
        progress:85,fill:rgb(0, 48, 102)),
    git:(
        progress:85,fill:rgb(235, 15, 15)),
    vscode:(
        progress:85,fill:rgb(58,148,205)),
    cplusplus:(
        progress:35,fill:rgb(0,118,247)),
    java:(
        progress:35,fill:rgb(250, 7, 7)),
);


@function skill($skill, $position: 1) {
    @return map-get(map-get($skills, $skill), $position)
};
$i:0;
.skills{
    @each $skill in $skillList{
        $i:$i+1;
        .container{
            .card:nth-child(#{$i}):hover{
                .icon{
                    svg{
                        fill:skill($skill,fill);
                    transition: .5s;

                    }
                }
                svg{
                    g{
                        .line{
                            fill: rgba(0, 0, 0, 0.3);
                            stroke-dasharray: 560;
                            stroke-dashoffset: -560; 
                        }
                        .progress{
                            stroke-dashoffset:  calc(560 - (560 * skill($skill,progress) )/100);
                            stroke:skill($skill,fill);
                        }
                    }
                }
            }
        }
    }
}




.btn{
    border: 1px solid red;
    width: 50px;
    height: 50px;
}