$height:375 / 2;
$width:350 / 2;

.about{
    .nameAnimation{
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    *{
        transition: 1s;
    }
        .letter-L,.letter-E,.letter-O{
            height: $height + 20px;
            width: $width+ px ;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            @for $i from 1 through 12{
                $delay: (random(24)*5) * -0.1s; 
                $duration: random(2) + 3s; 
                .triangle:nth-child(#{$i}){
                    background-color: rgb(41, 120, 169,.5);
                    animation: $duration name-animation  $delay linear infinite;
                }
            }
        }
        .letter-L{
            left: 50%;
            .triangle{
                height: inherit;
                width: inherit;
                position: absolute;
            }
            
            .triangle:nth-child(1){
                clip-path: polygon(0% 0%, 25% 0%, 25% 33.3%);
            }
            .triangle:nth-child(2){
                clip-path: polygon(0% 0%, 0% 27%, 25% 33.3%);
            }
            .triangle:nth-child(3){
                clip-path: polygon(0% 42%, 0% 27%, 25% 33.3%);
            }
            .triangle:nth-child(4){
                clip-path: polygon(0% 42.3%, 25% 58.3%, 25% 33.3%);
            }
            .triangle:nth-child(5){
                clip-path: polygon(0% 42.3%, 25% 58.3%, 25% 83.3%);
            }
            .triangle:nth-child(6){
                clip-path: polygon(0% 42.3%, 0% 66.5%, 25% 83.3%);
            }
            .triangle:nth-child(7){
                clip-path: polygon(0% 100%, 0% 66.5%, 25% 83.3%);
            }
            .triangle:nth-child(8){
                clip-path: polygon(0% 100%, 50% 83.3%, 25% 83.3%);

            }
            
            .triangle:nth-child(9){
                clip-path: polygon(50% 100%, 100% 83.3%, 50% 83.3%);

            }
            .triangle:nth-child(10){
                clip-path: polygon(100% 100%, 100% 83.3%, 75% 100%);
            }

            .triangle:nth-child(11){
                clip-path: polygon(50% 100%, 100% 83.3%, 75% 100%);
            }
            .triangle:nth-child(12){
                clip-path: polygon(0% 100%, 50% 83.3%, 50% 100%);
            }
        }
    
        .letter-E{
            .triangle{
                height: inherit;
                width: inherit;
                position: absolute;
            }
            .triangle:nth-child(1){
                clip-path: polygon(50% 0%, 75% 37.5%, 25% 12.5%);
                
            }
            .triangle:nth-child(2){
                clip-path: polygon(50% 0%, 75% 37.5%, 100% 25%);
            }
            .triangle:nth-child(3){
                
                clip-path: polygon(100% 50%, 25% 50%, 100% 25%);
    
            }
            .triangle:nth-child(4){
                
                clip-path: polygon(25% 37.5%, 75% 35.5%, 25% 50%);
            }
            .triangle:nth-child(5){
                
                clip-path: polygon(25% 12.5%, 50% 25%, 25% 37.5%);
            }
            .triangle:nth-child(6){
                
                clip-path: polygon(25% 12.5%, 0% 25%, 25% 65.5%);
            }
            .triangle:nth-child(7){
                
                clip-path: polygon(0% 25%, 0% 75%, 25% 65.5%);
            }
            .triangle:nth-child(8){
                
                clip-path: polygon(25% 87.5%, 0% 75%, 25% 65.5%);
            }
            .triangle:nth-child(9){
                
                clip-path: polygon(25% 87.5%, 50% 75%, 25% 65.5%);
            }
            .triangle:nth-child(10){
                
                clip-path: polygon(25% 87.5%, 75% 65.5%, 50% 100%);
            }
            .triangle:nth-child(11){
                
                clip-path: polygon(100% 75%, 75% 65.5%, 50% 100%);
            }
        }
    
        .letter-O{
            left: 75%;
            .triangle{
                height: inherit;
                width: inherit;
                position: absolute;
            }
            .triangle:nth-child(1){
                
                clip-path: polygon(50% 0%, 50% 20%, 20% 35%);
            }
            .triangle:nth-child(2){
                
                clip-path: polygon(50% 0%, 0% 25%, 20% 35%);
            }
            .triangle:nth-child(3){
                
                clip-path: polygon(20% 65%, 0% 25%, 20% 35%);
            }
            .triangle:nth-child(4){
                clip-path: polygon(20% 65%, 0% 25%, 0% 75%);
            }
            .triangle:nth-child(5){
                clip-path: polygon(20% 65%, 50% 80%, 0% 75%);
            }
            .triangle:nth-child(9){
                clip-path: polygon(50% 100%, 50% 80%, 0% 75%);
            }
            .triangle:nth-child(7){
                clip-path: polygon(50% 100%, 50% 80%, 80% 65%);
            }
            .triangle:nth-child(8){
                clip-path: polygon(50% 100%, 100% 75%, 80% 65%);
            }
            .triangle:nth-child(6){
                clip-path: polygon(80% 35%, 100% 75%, 80% 65%);
            }
            .triangle:nth-child(10){
                clip-path: polygon(80% 35%, 100% 75%, 100% 25%);
            }
            .triangle:nth-child(11){
                clip-path: polygon(80% 35%, 50% 20%, 100% 25%);
            }
            .triangle:nth-child(12){
                clip-path: polygon(50% 0%, 50% 20%, 100% 25%);
            }
        }
    }
}

.about{
    .nameAnimation.close{
        .letter-L,.letter-E,.letter-O{
            left: 50%;
            $opacity:.5;
            .triangle{
                background-color: rgb(41, 120, 169,$opacity);
                transform: rotate(360deg);
    
            }
            .triangle:nth-child(6){
                clip-path: polygon(50% 50%, 25% 12.5%, 50% 0%);
            }
            .triangle:nth-child(12){
                clip-path: polygon(50% 50%, 25% 12.5%, 0% 25%);
            }
            .triangle:nth-child(8){
                clip-path: polygon(50% 50%, 0% 50%, 0% 25%);
            }
            .triangle:nth-child(2){
                clip-path: polygon(50% 50%, 0% 50%, 0% 75%);
            }
            .triangle:nth-child(3){
                clip-path: polygon(50% 50%, 25% 87.5%, 0% 75%);
            }
            .triangle:nth-child(9){
                clip-path: polygon(50% 50%, 25% 87.5%, 50% 100%);
            }
            .triangle:nth-child(1){
                clip-path: polygon(50% 50%, 75% 87.5%, 50% 100%);
            }
            .triangle:nth-child(10){
                clip-path: polygon(50% 50%, 75% 87.5%, 100% 75%);
            }
            .triangle:nth-child(5){
                clip-path: polygon(50% 50%, 100% 50%, 100% 25%);
            }
            .triangle:nth-child(7){
                clip-path: polygon(50% 50%, 100% 50%, 100% 75%);
            }
            .triangle:nth-child(4){
                clip-path: polygon(50% 50%, 75% 12.5%, 100% 25%);
            }
            .triangle:nth-child(11){
                clip-path: polygon(50% 50%, 75% 12.5%, 50% 0%);
            }
            
        }
        // .letter-L,.letter-E{
        //     .triangle:nth-child(6){
        //         clip-path: polygon(50% 50%, 0% 25%, 50% 0%);
        //     }
            
        // }
        // .letter-L{
        //     .triangle:nth-child(4){
        //         clip-path: polygon(50% 50%, 50% 0%, 100% 25%);
        //     }
        // }
        
       
    }
}

@keyframes name-animation {
    
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(.9);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}




@media screen and (max-width:450px){
    $height:375 / 2.5;
    $width:350 / 2.5;  
    .about{
        .nameAnimation{
            .letter-L,.letter-E,.letter-O{
                height: $height + 20px;
                width: $width+ px ;
            }
        }
    }
}