:root {
    --font: #bebebe;
    --nav: #2978A9;

    --bg: #0F172A;
    --fonthover: #616060;

    --navfont: #0F172A;
    --navfonthover: #bdbdbd;
}



html{
    overflow: hidden;
    background: var(--bg);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    position: absolute;
    z-index: -99;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    .box{
        border-radius: .5rem;
        aspect-ratio: 1/1;
        background-color: var(--nav);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -10vh;
       
        ion-icon{
            color: var(--bg);
            font-size: 80%;
        }
    }
}
@for $i from 1 through 18 {
    $size:(random(3))*2 + 1vw;
    .box#{$i}{
        left: random(30)*3vw;
        animation: animate linear infinite;
        animation-delay: random(120) * -1s;
        height: $size;
        font-size: $size;
        animation-duration: random(60) + 10s;
        opacity: .5;
    }
}


@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
    transform: translateY(-120vh) rotate(720deg);
    }
}