:root {
    --font: #bebebe;
    --nav: #2978A9;

    --bg: #0F172A;
    --fonthover: #616060;

    --navfont: #0F172A;
    --navfonthover: #bdbdbd;
}

html,
body,
#root,
.App {
	height: 100%;
}

html{
    overflow: auto;
    background: var(--bg);
}
body{
    position: relative;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home{
    height: 100%;
    transition: 1.5s;

    .background{
        opacity: .1;
        transition: 1.5s;

        .box{
            border-radius: 100%;
            transition: 1.5s;

            ion-icon{
                font-size: 0%;
                transition: 1.5s;

            }
        }
    }
}

.home.active{
    .background{
        opacity: 1;
        position: absolute;
        z-index: -99;
        height: 100%;
        width: 100vw;
        overflow: hidden;
        margin: 0;

        .box{
            border-radius: 15%;
            aspect-ratio: 1/1;
            background-color: var(--nav);
            border: 2px solid  var(--nav);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: -10vh;
            ion-icon{
                color: var(--bg);
                font-size: 80%;
            }
        }
    }
}
@for $i from 1 through 18 {
    $size:(random(3))*2 + 1vw;
    .box#{$i}{
        left: random(36) * 2.5vw;
        animation: animate linear infinite;
        animation-delay: random(120) * -1s;
        height: $size;
        font-size: $size;
        animation-duration: random(60) + 10s;
        opacity: .5;
    }
}


@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
    transform: translateY(-120vh) rotate(720deg);
    }
}