.nav{
    position: absolute;
    bottom: 10%;
    transform: translate(-50%,0);
    left: 50%;

    .menu{
        width: 520px;
        height: 50px;
        max-width: 90vw;
        position: absolute;
        transform: translate(-50%,0%);
        top: 90%;
        left: 50%;
        columns: 3;
        text-align: center;
        display:flex;
        justify-items: center;
        align-items: center;
        mask-size: 100% 100%;
        background-color: rgb(41, 120, 169,.3);
        backdrop-filter: blur(5px);
        mask-image: url('../../assets/images/mask2.png');
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(41, 120, 169,.5) url('../../assets/images/dots.png');
            mask-image: url('../../assets/images/mask.png');
            mask-size: inherit;
        }
        li{
            list-style: none;
            width: 100%;
            position: relative;
            a{
                color: white;
                width: 100%;
                text-decoration: none;
            }
            &:hover::after,&:hover:before,&::before,&::after{
                position: absolute;
                transform: translate(-50%,0);
                left: 50%;
                content: "";
            }
            &::after{
                height: 0;
                width: 0;
            }
            &:hover::after{
                border-radius: 50%;
                background:rgb(0, 157, 255) ;
                height: 100%;
                width: 100%;
                filter: blur(25px);
                bottom: 0;
                transition: .3s;
                z-index: -1;
            }
            &::before{
                height: 100%;
                width: 0%;
                bottom: -50%;
                border-bottom: 2px solid rgb(0, 157, 255);
                transition: .3s;
                z-index: -1;
            }
            &:hover::before{
                width: 50%;
            }
        }
    }
}