
.nav{
    position: absolute;
    bottom: 10%;
    transform: translate(-50%,0);
    left: 50%;

    .nav-button{
        position: relative;
        top: 0;
        height: 50px;
        width: 50px;
        margin-bottom: 10px;
        *{cursor: url('../mouse-pointer.svg'),auto;}

        svg{
            stroke: rgba(41, 120, 169,.175);
            fill: rgb(41, 120, 169,.25);
            stroke-width: 5;
            position: absolute;
            transform: translate(-50%,-50%) rotate(90deg);
            left: 50%;
            top: 50%;
        }
        .hex1{
            stroke: rgba(41, 120, 169,1);
            width: 55px;
            height: 55px;
        }
        .hex2{
            width: 45px;
            height: 45px;
        }
        .hex3{
            width: 30px;
            height: 30px;
        }
        .hex4{
            width: 15px;
            height: 15px;
        }
        &:active{
            svg{
                animation: pulse .1s forwards linear;
            }
        }
        
    }

    .menu{
        
        transition: 1s;
        visibility: visible;
        opacity: 1;
        width: 520px;
        height: 50px;
        max-width: 90vw;
        position: absolute;
        transform: translate(-50%,0%);
        top: 90%;
        left: 50%;
        columns: 3;
        text-align: center;
        display:flex;
        justify-items: center;
        align-items: center;
        mask-size: 100% 100%;
        background-color: rgb(41, 120, 169,.3);
        backdrop-filter: blur(5px);
        mask-image: url('../../assets/images/mask2.png');
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(41, 120, 169,.5) url('../../assets/images/dots.png');
            mask-image: url('../../assets/images/mask.png');
            mask-size: inherit;
        }

        #marker{
            position: absolute;
            height: 50px;
            transition: .7s;
            bottom: 0;
            
            &::before{
                content: "";
                height: 90%;
                width: 100%;
                position: absolute;
                left: 0;
                border-radius: 50%;
                background:rgb(0, 157, 255) ;
                filter: blur(30px);
                z-index: -1;
            }
            &::after{
                content: "";
                height: 90%;
                position: absolute;
                width: 50%;
                left: 50%;
                transform: translate(-50%,0);
                border-bottom: 3px solid rgb(68, 183, 255);
            }
        }
        a,Link{
            text-decoration: none;
            height: 100%;
            list-style: none;
            width: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            cursor: url('../mouse-pointer.svg'),auto;
        
        }
        
    }
}
.nav{
    .menu.notactive{
        transform: rotateY(180deg) translate(50%,0%) scale(.5);
        visibility: hidden;
        opacity: 0;
    }
}


@keyframes hex-rotate{
    0%,90%{
        transform: translate(-50%,-50%) rotate(90deg);
        transition: 1s;
    }
    100%{
        transform: translate(-50%,-50%) rotate(450deg);
    }
}
@keyframes pulse{
    0%{
        transform: translate(-50%,-50%) scale(1) rotate(90deg);
    }
    100%{
        transform: translate(-50%,-50%) scale(1.2) rotate(90deg);
    }
    
   
}
