.contacts{
    position: absolute;

    right: 8%;
    bottom: 5%;
    .contact-list{
        display: flex;
        gap: 2rem;
        *{cursor: url('../mouse-pointer.svg'),pointer;}
        li{
            list-style: none;
            a{
                color: rgb(41, 120, 169,.5);
                font-size: 2rem;
                &:hover{
                    color: rgb(41, 120, 169,1);
                }
            }
        }
    }
}

@media screen and (max-width:450px){
    .contacts{
        right: 30%;
        bottom: 1%;

        .contact-list{
            gap: 1rem;
            li{
                a{
                    font-size: 1.7rem;
                   
                }
            }
        }
    }
}


